<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Index</title>
    <link href="https://fonts.cdnfonts.com/css/harry-potter" rel="stylesheet">
    <style>
        html {
                font-size: 30px;
                font-family: 'Harry Potter', sans-serif;
            }

            body {
                color: black;
                background-color: #D9AFD9;
                background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); 
                background-repeat: no-repeat;
                margin-top: 3.5rem;
                text-align: center;
            }
    </style>
</head>

<body>
	<h1>Harry Potter Fans Unite!!!</h1>
    <div>
        Pick a character: <a href="/characterPick">Selection</a><br>
		To review your character select <a href="/userLookup">Review Character</a><br>
        To clear database: <a href="/clear">Obliviate Database</a>
    </div>
    <img src="https://images.ctfassets.net/usf1vwtuqyxm/6mWwi4BAAMAWEcKCkuC2Wm/9cdcc766c7cf1d183334bb34e496dba0/Harry_Potter.png?w=914&q=70&fm=webp" width="420px">
</body>

</html>